apiVersion: apps/v1
kind: Deployment
metadata:
  name: orderdeliverymanagement
  labels:
    app: orderdeliverymanagement
spec:
  replicas: 3
  selector:
    matchLabels:
      app: orderdeliverymanagement
  template:
    metadata:
      labels:
        app: orderdeliverymanagement
    spec:
      containers:
        - name: orderdeliverymanagement
          image: skcc02acr.azurecr.io/orderdeliverymanagement:latest
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5
